@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --color-oxford-blue: #0B1F32;
    --color-prussian-blue: #102E4A;
    --color-gainsboro: #DDDCE5;
    --color-cultured: #F8F8F8;
    --color-light-coral: #F07F7F;
    --color-misty-rose: #FFE0D6;
}
html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-prussian-blue);
    
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

a {
    color:black;
    text-decoration: none;
    font-size: 20px;
    width: 250px;
    background-color: rgb(56, 146, 250);
    border-radius: 8px;
    height: fit-content;
    text-align: center;
    font-weight: 600;
    border: 1px solid white;
}
a:hover {
    background-color: rgb(37, 57, 238);
}

.main-window{
    display: flex;
    align-items: stretch;
    min-height: 800px;
}
.navbar{
    align-items: center;
    background-color: var(--color-oxford-blue);
    color: var(--color-cultured);
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    padding: 7px 20px;
}
.sidebar {
    background-color: var(--color-prussian-blue);
    color: var(--color-misty-rose);
    font-size: 24px;
    flex-basis: 20%;
}
.side-item {
    background-color: var(--color-oxford-blue);
    padding: 10px 20px;
    min-height: 50px;
    display: flex;
    justify-content: center;

}
.main-content {
    background-color: var(--color-gainsboro);
    flex-grow: 1;
}
.team-name {
    background: url("./images/sky3.jpg");
   -webkit-background-clip: text ;
   background-clip: text;
    color: transparent;
  font-style: normal;
  font-size: 100px;
  letter-spacing: 2px;
  line-height: 1,5;
  font-family:cursive ;
  background-size:contain ;
  width: auto
  
}

/* //////////////ZINAIDA CLASSES////////////////// */
.z-main-content {
    padding: 5%;
    display: flex;
    gap: 20px 40px;
    flex-direction: column;
    align-items: stretch;
    font-size: 15px;
}
.z-main-content > div {
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    font-size: 20px;
}
.z-header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 10px;
}

.z-main-content > div:hover{
    background-color: rgb(221, 221, 221);
}
.z-lang {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.z-lang-item {
    display: flex;
    align-items: center;
}
.z-lang-item > img {
    width: 30px;
    height: 30px;
    margin: 5px 10px;
}


.z-katas {
    background-color: var(--color-prussian-blue);
    color: var(--color-cultured);
    font-size: larger;
    text-align: center;
    border-radius: 10px;
}
.z-player {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 40px;
}
.z-player > div {
    flex-grow: 1;
    text-align: center;
}
.z-name {
    font-size: 30px;
}
.z-name:hover {
    transform: scale(1.2);
    color: #102E4A;
}
.z-katas-item{
    padding: 0 10%;   
    font-size: 20px;
    padding-bottom: 50px;
}
.z-katas-item > div > h4 {
    font-size: 25px;
}
.z-katas-item > div > h3 {
    font-size: 30px;
}
.z-katas-item > div > pre {
    background-color: var(--color-oxford-blue);
    color: white;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
}
.hide {
    display: none;
}
/* COPIED FROM INTERNET */
hr {
    margin-top: 20px;
    padding: 2px 0;
    border: none;
    background-color: whitesmoke;
    letter-spacing: 5px;
}

.hr1 {
    margin-left: 0;
}

.hr2 {
    margin-right: 0;
}

.trans--grow {
    -webkit-transition: width 1s ease-out;
    /* For Safari 3.1 to 6.0 */
    transition: width 1s ease-out;
    width: 0%;
}
